
/**
 * 
 * Input Global
 * 
 */
@use "sass:map";

/** Icon side */
.icon-side {

       &--wrapper {
              display: flex;
              align-items: center;
              width: 100%;
              

              @include input-icons-side($theme-input-icon-side);
      
       }
}

/** Input */
.input {

       font-size: $font-medium;

       &--style{
              @include input-style($theme-input-box-default);
       }

       &__style--wrapper{ 
           position: relative;
       }

       &__style{
              @include input-icons-inside($theme-input-box-icon-leading ,$theme-input-box-icon-trailing);
       }

       &__style--filled{
              @include input-style-filled($theme-input-filled);
       }

       &__icon{
              @include input-icons-inside($theme-input-icon-leading,$theme-input-icon-trailing);
       }

       &__number--style{
              @include input-style($theme-input-box-default,
                     #{$input-number-width});
       }

       &__search--style {

              @include input-style($theme-input-box-search
              ,$input-search-width);
       }

       &__checkbox--style {
              @include checkbox($theme-input-checkbox);

       }

       &--focus  {
              @include input-focus();
       }

       &--disabled {
              @include input-disabled($theme-input-disabled);
       }
       
       &--placeholder{
              @include input-placeholder();
       }

       &--required {
              @include input-required();
       }

       &--helper {
              @include helper-message(map.get($theme-input-helper, "font-size"),
              map.get($theme-input-helper, "color"),
              map.get($theme-input-helper, "margin"));
       }

       &__counter{

              display: flex;
              flex-direction: column;

              .span {
              
                     &__group {
                            display: flex;
                            justify-content: space-between;
                            width: 100%; 
                     }
              }

              &--error {
                     color: $input-error-color;
              }
       
           
       }

       &__border--error {
              
       }

       @each $size, $values in $input-sizes {
       
              &--#{$size} {
                @include input-size($size, $values);
              }

       }
      
}

.switch-checkbox{

       @include checkbox-slider($theme-input-checkbox-slider);
}

.custom {

       &__checkbox {

              @include checkbox-1($theme-input-checkbox-1);
              @include checkbox-1-checked($theme-input-checkbox-1-checked);
       }
}

/** Form */

.form {

       &--default {

              .inputs--default {
                    
                     input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"]  {
                            @include input-style($theme-input-box-default);

                            @include input-focus();
                     }

                     input[type="number"] {
                            @include input-style($theme-input-box-default,#{$input-number-width});
                            
                            @include input-focus();
                     }

                     label {
                            @include label-style();
                     }

                     

                     & {
                            @include input-placeholder();
                     }

              }
       }
}

