@use "sass:map";
/**
 * 
 * Input Mixins
 * 
 */

@mixin input-style($theme ,$width: $input-width) {

    height: map.get($theme, "height");
    border: map.get($theme, "border");
    border-radius: map.get($theme, "border-radius");
    box-sizing: border-box;
    font-size: map.get($theme , "font-size");
    outline: map.get($theme, "outline");
    padding: map.get($theme, "padding");
    width: $width;
    
}

@mixin input-size($size-name, $size-values) {
    
    padding: map-get($size-values, padding);
    font-size: map-get($size-values, font-size);
}

@mixin input-focus($color: $input-focus-color) {

    &:focus {
        border-color: $color;
        outline: none;
        @include box-shadow-theme($theme-box-shadow-input);
    }
}

@mixin input-placeholder($color : $input-placeholder-color , $opacity : $input-placeholder-opacity) {

    &::placeholder{
        color: $color;
        opacity: $opacity;
    }
   
}

@mixin error-message($font-size: 90%, $color: $input-error-color, $margin: 3px) {
    &--error {
        font-size: $font-size;
        color: $input-error-color;
        margin: $margin;
    }
}

