
/**
 * 
 * Input Mixins
 * 
 */

@mixin input-style($color:$input-color,$padding:$input-padding,$border:$input-border,$border-radius:$input-border-radius){
    
    color : $color;
    padding: $padding;
    border: $border;
    border-radius: $border-radius;
    box-sizing: border-box;
}

@mixin input-focus(){

    &:focus {
        border-color: $input-focus-color;
        outline: none;
        @include box-shadow(0, 0, 5px, 0 , rgba($input-focus-color, 0.5));
       
    }
}

@mixin error-message($font-size: 0.875rem, $color: $input-error-color,$margin: 3px 0 0 0){
    &--error {
      font-size: $font-size;
      color: $input-error-color;
      margin: $margin;
    }
}
