@use "sass:map";

/**
 * 
 * Main Mixins 
 * 
 */

@mixin apply-theme($theme) {
  background-color: map.get($theme, "background");
  color: map.get($theme, "text");
  --primary-color: #{map.get($theme, "primary")};
  --secondary-color: #{map.get($theme, "secondary")};
}

// Box Shadow

@mixin box-shadow-theme($theme) {

  $x: map.get($theme, "x"); 
  $y: map.get($theme, "y"); 
  $blur: map.get($theme, "blur");
  $spread: map.get($theme, "spread");
  $color: map.get($theme, "color");

  box-shadow: $x $y $blur $spread $color;
}

@mixin box-shadow($x: 0px,$y: 0px,$blur: 5px,$spread:0px ,$color,$component-color-dark) {
  box-shadow: $x $y $blur $spread $color;
}