/**
  * 
  * Main Themes
  * 
  */

$theme-typography-default: (

);

// Light theme variables

$theme-light: (

  "background": $component-color-light,
  "text": $component-color-dark,
  "primary": #007bff,
  "secondary": #6c757d

);

// Dark theme variables
$theme-dark: (

  "background": $component-color-dark,
  "text": $component-color-light,
  "primary": #bb86fc,
  "secondary": #03dac6

);

$theme-typography-label: (

);

// Theme Shadow
$theme-box-shadow-input : (
  "x" : 0px,
  "y" : 0px,
  "blur" : 5px,
  "spread" : 2px,
  "color" : rgba($input-focus-color, 0.5)
);

// Theme Shadow Default
$theme-box-shadow-default : (
  "x" : 0,
  "y" : 0,
  "blur" : 5px,
  "spread" : 2px,
  "color" : $input-focus-color
);

$theme-box-shadow-input-filled-default : (
  "x" : 0,
  "y" : 2px,
  "blur" : 4px,
  "spread" : 0,
  "color" : $input-focus-color
);

// Input style of box
$theme-input-box-default : (
  "height" : $input-box-height,
  "width" : $input-width,
  "text-color" : $input-color,
  "font-size" : $font-medium,
  "outline" : none,
  "border-radius": $input-border-radius,
  "border-color" : $input-border-color,
  "border" : $input-border,
  "padding" : $input-padding
);

$theme-label-default : (
  "font-size" : $font-medium,
  "color" : $label-color,
  "font-weight" : $label-font-weight      
);

$theme-input-box-icon-leading : (  
"width": calc($input-box-height / 2),
"height":  calc($input-box-height / 2),
"font-size": $font-large,
"position-x": 2rem,
"position-y": 37%,
"tansform": translateY(-50%),
"padding-left" : 3.5rem,
"padding-right" : 4.5rem
);

$theme-input-box-icon-trailing : (  
"width": calc($input-box-height / 2),
"height":  calc($input-box-height / 2),
"font-size": $font-large,
"position-x": 2rem,
"position-y": 37%,
"tansform": translateY(-50%),
"padding-left" : 3.5rem,
"padding-right" : 3.5rem
);

$theme-input-filled : (
  "height" : $input-filled-height,
  "width" : $input-width,
  "font-size" : $font-medium,
  "color": $input-color,
  "outline" : none,
  "border-radius": $input-border-radius,
  "padding" : $input-padding,
  "input-filled-border-bottom" : 2px solid $input-border-color,
  "input-filled-border-bottom-focus" : 2px solid $input-focus-color,
  "label-placeholder-color" : $input-placeholder-color,
  "label-input-color" : $input-placeholder-color,
  "label-y" : $label-input-filled-top,
  "lable-x" : $label-input-filled-left,
  "label-font-size" : $font-medium,
  "transition" : all 0.2s ease,
  "outlined-border": solid 1px $input-border-color,
  "outlined-label-background-color" : transparent,
  "outlined-padding" : 2px,
  "text-top-font-size" : 1.3rem,
  "text-top-position-y" : .4rem,
  "text-top-position-x" : 3rem,
  "text-top-padding" : 0px,
  "text-top-bg-color-data" : $component-color-light,
  "text-top-bg-color-nodata" : $component-color-light,
  "text-top-opacity": 1

);

$theme-input-box-icon-leading : (
  "width": auto,
  "height":  $input-filled-height,
  "font-size": $font-xl,
  "position-x": 2rem,
  "position-y": 4rem,
  "tansform": translateY(-45%),
  "padding-left" : 4.5rem,
  "padding-right" : 4.5rem
);

$theme-input-box-icon-trailing : (
  "width": auto,
  "height": $input-filled-height,
  "font-size": $font-xl,
  "position-x": 2rem,
  "position-y": 4rem,
  "tansform": translateY(-45%),
  "padding-right" : 4.5rem
);


$theme-input-icon-leading : (
  "width": calc($input-filled-height / 2),
  "height":  calc($input-filled-height / 2),
  "font-size": $font-xl,
  "position-x": 2rem,
  "position-y": $font-large,
  "tansform": translateY(-50%),
  "padding-left" : 4.5rem,
  "padding-right" : 4.5rem
);

$theme-input-icon-trailing : (
  "width": calc($input-filled-height / 2),
  "height":  calc($input-filled-height / 2),
  "font-size": $font-xl,
  "position-x": 2rem,
  "position-y": $font-large,
  "tansform": translateY(-50%),
  "padding-right" : 4.5rem
);

$theme-input-icon-side : (
  "width": auto,
  "height":  $input-box-height,
  "font-size": $font-large,
  "padding-leading": 0 1.2rem 0 0,
  "padding-trailing": 0 0 0 1.2rem,
  "flex-icon": 0 1 auto,
  "flex-input": 1 1 0,
);


$theme-input-disabled : (
  "color" : $input-disabled-text-color,
  "background-color" : $input-disabled-bg-color,
  "opacity" : $input-disabled-opacity,
  "cursor" : not-allowed
);

// Input style of number
$theme-input-number-default : (
  "height" : $input-box-height,
  "width" : $input-width,
  "font-size" : $font-medium,
  "outline" : none,
  "border-radius": $input-border-radius,
  "border" : $input-border,
  "padding-left" : $input-padding
);

// Input style of search box
$theme-input-box-search : (
  "height" : $input-box-height,
  "width" : $input-width,
  "font-size" : $font-medium,
  "outline" : none,
  "border-radius": $input-border-radius,
  "border" : $input-border,
  "padding-right" : $input-padding
  
);

$theme-input-checkbox :(
  "width" : $checkbox-size,
  "height" : $checkbox-size,
  "font-size" : $font-medium,
  "border" : 1px solid $checkbox-border-color,
  "check-color" : $component-color-light,
  "border-radius" : $checkbox-border-radius,
  "checkbox-focus" : $checkbox-focus-shadow,
  "checkbox-disabled" : $checkbox-disabled-opacity,
  "checkbox-spacing" : $checkbox-spacing,
  "check-bg" : $component-color-success,
  "check-bc" : $checkbox-border-mark-color
);

$theme-input-checkbox-1: (
  "height" : $checkbox-size,
  "width" : $checkbox-size,
  "margin" : $input-padding,
  "font-size" : $font-medium,
  "outline" : none,
  "border-radius": $checkbox-border-radius,
  "border" : 1.5px solid $checkbox-border-color,
  "padding" : $input-padding,
  "checkbox-focus" : $checkbox-focus-shadow,
  "transition" : $checkbox-checked-background 0.2s ease-in-out,
  "mark-bg" : $checkbox-checked-background,
  "mark-bc" : $checkbox-border-mark-color,
  "label-margin-left": 1rem,
  "cursor" : pointer
 
);

$theme-input-checkbox-1-checked: (
  "mark-width" : calc($checkbox-size / 4),
  "mark-height" : calc($checkbox-size / 2),
  "mark-border" : solid $checkbox-checkmark-color,
  "mark-border-width" : 0 2px 2px 0,
  "mark-transform" : translate(-50%, -50%) rotate(45deg)
);


$theme-input-checkbox-slider : (
  "width" : $chk-slider-width,
  "height" : $chk-slider-height,
  "curosr": pointer,
  "background-color" : $chk-slider-background-color,
  "transition" : 0.4s,
  "border" : $chk-border,
  "border-radius" : $chk-slider-border-radius,
  "slider-inside-width" : $chk-slider-inside-width,
  "slider-inside-height" : $chk-slider-inside-height,
  "slider-inside-x" : $chk-slider-inside-x,
  "slider-inside-y" : $chk-slider-inside-y,
  "chk-ball-color" : $chk-ball-color,
  "chk-ball-border" : $chk-ball-border,
  "chk-ball-border-radius" : $chk-ball-border-radius,
  "slider-inactive-background-color" : $chk-slider-inactive-background-color,
  "slider-active-background-color" : $chk-slider-active-background-color,
  "slider-disabled-opacity" : $chk-slider-disabled-opacity,
  "slider-inside-limit" : $chk-slider-inside-limit,
  "focus-shadow" : $chk-slider-focus-shadow,
  "hover-color": $chk-slider-hover-color,
  
);

$theme-input-error : (
  "font-size" : 80%,
  "color" : $component-color-danger,
  "margin" : 3px
);

$theme-input-helper : (
  "font-size" : 80%,
  "color" : $component-color-secondary,
  "margin" : 3px
);