/**
  * 
  * Main Themes
  * 
  */

$theme-typography-default: (

);

// Light theme variables

$theme-light: (

  "background": $component-color-light,
  "text": $component-color-dark,
  "primary": #007bff,
  "secondary": #6c757d

);

// Dark theme variables
$theme-dark: (

  "background": $component-color-dark,
  "text": $component-color-light,
  "primary": #bb86fc,
  "secondary": #03dac6

);

$theme-typography-label: (

);

// Theme Shadow
$theme-box-shadow-input : (
  "x" : 0px,
  "y" : 0px,
  "blur" : 5px,
  "spread" : 0px,
  "color" : rgba($input-focus-color, 0.5)
);

// Theme Shadow Default
$theme-box-shadow-default : (
  "x" : 0px,
  "y" : 0px,
  "blur" : 0px,
  "spread" : 0px,
  "color" : $component-color-dark
);

// Input style of box
$theme-input-box-default : (
  "height" : $input-box-height,
  "width" : $input-width,
  "font-size" : $font-medium,
  "outline" : none,
  "border-radius": $input-border-radius,
  "border" : $input-border,
  "padding" : $input-padding
);

// Input style of number
$theme-input-number-default : (
  "height" : $input-box-height,
  "width" : $input-width,
  "font-size" : $font-medium,
  "outline" : none,
  "border-radius": $input-border-radius,
  "border" : $input-border,
  "padding" : $input-padding
);

// Input style of search box
$theme-input-box-search : (
  "height" : $input-box-height,
  "width" : $input-width,
  "font-size" : $font-medium,
  "outline" : none,
  "border-radius": $input-border-radius,
  "border" : $input-border,
  "padding" : $input-padding
  
);

$theme-input-checkbox :(
  "width" : $checkbox-size,
  "height" : $checkbox-size,
  "font-size" : $font-medium,
  "border" : 1px solid $checkbox-border-color,
  "check-color" : $component-color-light,
  "border-radius" : $checkbox-border-radius,
  "checkbox-focus" : $checkbox-focus-shadow,
  "checkbox-disabled" : $checkbox-disabled-opacity,
  "checkbox-spacing" : $checkbox-spacing,
  "check-bg" : $component-color-success,
  "check-bc" : $checkbox-border-mark-color
);

$theme-input-checkbox-1: (
  "height" : $checkbox-size,
  "width" : $checkbox-size,
  "margin" : $input-padding,
  "font-size" : $font-medium,
  "outline" : none,
  "border-radius": $checkbox-border-radius,
  "border" : 1.5px solid $checkbox-border-color,
  "padding" : $input-padding,
  "checkbox-focus" : $checkbox-focus-shadow,
  "transition" : $checkbox-checked-background 0.2s ease-in-out,
  "mark-bg" : $checkbox-checked-background,
  "mark-bc" : $checkbox-border-mark-color,
  "label-margin-left": 1rem,
  "cursor" : pointer
 
);

$theme-input-checkbox-1-checked: (
  "mark-width" : calc($checkbox-size / 4),
  "mark-height" : calc($checkbox-size / 2),
  "mark-border" : solid $checkbox-checkmark-color,
  "mark-border-width" : 0 2px 2px 0,
  "mark-transform" : translate(-50%, -50%) rotate(45deg)
);
