
/** Fontsize */

/** 1 rem = 10px; 10px/16px = 62.5% */

$font-size: 62.5%;

/** Font sizes */

$font-small: 1.2rem;
$font-medium: 1.6rem;
$font-large: 2rem;
$font-xl: 2.4rem;
$font-xxl: 3rem;

/** Font Family */

$font-primary: 'Nunito', sans-serif;


/** Components */

$component-color-primary: #0D6EFD;
$component-color-secondary: #6C757D;
$component-color-success: #198754;
$component-color-danger: #DC3545;
$component-color-warning: #FFC107;
$component-color-info: #0DCAF0;
$component-color-dark: #212529;
$component-color-light: #F8F9FA;

/** Inputs */

$input-color: $component-color-dark;
$input-border-color: $component-color-dark;
$input-focus-color: $component-color-info;
$input-error-color: $component-color-danger;
$input-border-size: 1px;
$input-border-style: solid;
$input-border-radius: .4rem;
$input-border: $input-border-size $input-border-style $input-border-color;
$input-box-height: 4.5rem;
$input-padding-y: 1.2rem;
$input-padding-x: 1.2rem; 
$input-padding: $input-padding-y $input-padding-x;
$input-width: 100%;
$input-number-width: 7rem;
$input-placeholder-color: $component-color-dark;
$input-placeholder-opacity: 0.7;
$input-search-width: 100%;

/** Checkbox */


$checkbox-size: 2rem;
$checkbox-border-color: lighten($component-color-dark, 45%);
$checkbox-border-radius: $input-border-radius;
$checkbox-checked-background: $component-color-success;
$checkbox-checkmark-color: $component-color-light;
$checkbox-focus-shadow: 0 0 3px 2px $component-color-info;
$checkbox-border-mark-color: $component-color-secondary;


/** Labels */

$label-font-size: 100%;
$label-padding: 10px;
$label-color: $component-color-dark;
$label-font-weight: 500;
$label-required-color: $component-color-danger;


$input-sizes: (
  small: (padding: calc(2px + 0.5rem) 1rem, font-size: $font-small),
  medium: (padding: calc(2px + 0.5rem) 1rem, font-size: $font-medium),
  large: (padding: 1rem, font-size: $font-large),
  xl: (padding: 1.25rem, font-size: $font-xl),
  xxl: (padding: 1.5rem, font-size: $font-xxl)
);


