<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Main CSS -->
    {{#ifpage 'visual' 'demo-text-input'}}
      <link rel="stylesheet" href="../css/styles.css" >
    {{/ifpage}}
    {{#ifpage 'index'}}
      <link rel="stylesheet" href="css/styles.css" >
    {{/ifpage}}
   

    
    <title> Theme3_forms </title>
    <link rel="icon" type="image/x-icon" href="img/fav.png">
  </head>
  <body>
   
      {{> body}}
 
    <script src="/js/vue.global.prod.js"></script>
    <script src="/js/app.js"></script>
    
</html>