{{#if label}}
<label for="{{id}}" 

{{#if class-label}}
class="{{class-label}}" 
{{/if}}>

{{#if label-title}}
{{label-title}}
{{else}}
{{id}}
{{/if}}

</label>
{{/if}}

<input type="email" 
{{#if id}} 
{{#ifEquals id inputs}} 

{{/ifEquals}} 
{{/if}} 

{{#if pattern-required}}
pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" 
title="Please enter a valid email address, like user@example.com" 
{{/if}}

{{#if pattern}}
pattern="{{pattern}}" 
{{/if}}

{{#if title}}
title="{{title}}" 
{{/if}}

{{#if required}} 
required 
{{/if}} 

{{#if disabled}} 
disabled 
{{/if}} 

{{#if readonly}} 
readonly
{{/if}} 


{{#if multiple}} 
multiple 
{{/if}}/>

{{#if error}}
<div class="input--error">
    error sample
</div>
{{/if}}