{{#if input-filled}}
<div class="input__filled--wrapper"> 

{{else}}
    <!-- Label Default -->
    {{#if label}}
        {{> comp-input-label}}
    {{/if}}
{{/if}}

{{#if icon-side }}
    <div class="{{#if wrapper-class}}{{wrapper-class}}{{else}}icon-side--wrapper{{/if}}">
    {{> comp-input-icons}}
{{/if}}

{{#if input-filled}}
    {{> comp-input-icons}}
{{/if }}

<!-- Input Icon Inside -->
{{#if input-icon}}
<div class="input__style--wrapper">
    {{> comp-input-icons}}
{{/if}}

<input type="{{> comp-input-type}}" 
{{#if id}}
    {{#if data}} 
        {{#ifLists id inputs}} 

        {{/ifLists}} 
    {{else}}
        {{> comp-input-id}}
        
        name="{{> comp-input-name }}"
        class="{{> comp-input-class }}"
        {{> comp-input-attrs}}
        {{#if value}}
        value="{{value}}"
        {{/if}}
        aria-invalid="false"
        
    {{/if}}
{{/if}}


{{> comp-input-placeholder}}
  
{{> comp-pattern }}

{{#if autocomplete}}
autocomplete="{{autocomplete}}"
{{/if}}

{{#if autofocus}}
autofocus
{{/if}}

{{#if required}}
aria-required="true" 
required
{{else}}
 aria-required="false" 
{{/if}}

{{#if readonly}} 
readonly
{{/if}}

{{> comp-input-vue}}

{{#if check}}
check="{{check}}"
{{/if}}

{{> comp-input-min-max}}

{{> comp-input-aria-describedby}}

{{#if label}}
{{else}}
    aria-labelledby="{{id}}"
{{/if}}

{{#if disabled}} 
disabled 



{{/if}}/> <!-- end input -->



{{#if input-filled}}
 <!-- Label filled -->
    {{#if label}}
        {{> comp-input-label}}
    {{/if}}
{{/if}}

{{#if input-filled}}
    {{> comp-input-icons}}
{{/if}}




{{#if input-filled}}
 </div>
{{/if}}

{{#if icon-side }}
</div>
{{/if}}


{{#if input-icon}}
</div>
{{/if}}

{{#if helper}}
    {{> comp-helper}}
{{/if}}
