
{{#if input-filled}}
<div class="input__filled--wrapper"> 

{{else}}
    <!-- Label Default -->
    {{#if label}}
    <label 
        for="{{id}}" 
        class="{{#if class-label}}{{class-label}} {{else}} label label--block {{#if required}} label--required{{/if}} {{/if}}">

        {{#if label-title}}{{label-title}}{{else}}{{id}}{{/if}}
    </label>
    {{/if}}

    {{#if icon-side-leading }}

    {{/if}}
{{/if}}

{{#if input-filled}}
    {{#if icon-leading}}
    {{#if icon-mark-leading}} {{{icon-mark-leading}}} {{else}} <i class="bi bi-input-cursor-text input__icon--leading"></i> {{/if}}
    {{/if }}
{{/if }}

{{#if input-icon}}
    {{#if icon-leading}}
    {{#if icon-mark-leading}} {{{icon-mark-leading}}} {{else}} <i class="bi bi-person-circle input__style--leading"></i> {{/if}}
    {{/if }}
{{/if}}

<input type="{{> comp-input-type}}" 
{{#if id}}
    {{#if data}} 
        {{#ifLists id inputs}} 

        {{/ifLists}} 
        {{else}}
        id="{{> comp-input-id}}"
        name="{{> comp-input-name }}"
        class="{{> comp-input-class }}"
        {{> comp-input-attrs}}
        arial-invalid="false"
    {{/if}}
{{/if}}

{{> comp-pattern }}

{{#if title}}
title="{{title}}" 
{{/if}}

{{#if required}}
aria-required="true" 
required 
{{/if}}

{{#if readonly}} 
readonly
{{/if}}

aria-describedby="{{#if aria-describedby}}{{aria-describedby}}{{else}}{{id}}-help{{/if}}"

{{#if label}}
{{else}}
aria-labelledby="{{id}}"
{{/if}}

{{#if disabled}} 
disabled 
{{/if}}/>

{{#if label}} 
{{else}} 
    {{#if required}} 
    {{> comp-helper}} 
    {{/if}} 
{{/if}}

{{#if input-icon}}
    {{#if icon-trailing}}
    {{#if icon-mark-trailing}} {{{icon-mark-trailing}}} {{else}} <i class="bi bi-chat-left-text input__style--trailing"></i> {{/if}}
    {{/if}}
{{/if}}

{{#if input-filled}}
 <!-- Label filled -->
    {{#if label}}
    <label 
        for="{{id}}" 
        class="{{#if class-label}}{{class-label}} {{else}}label__filled--style {{/if}} 
        {{#if icon-leading}} input__icon--pleft{{/if}}">

        {{#if label-title}}{{label-title}}{{else}}{{id}}{{/if}}{{#if required}}<span class="{{#if class-required}}{{else}}input--required{{/if}}"> *</span>{{/if}}
    </label>
    {{/if}}
{{/if}}

{{#if input-filled}}
    {{#if icon-trailing}}
    {{#if icon-mark-trailing}} {{{icon-mark-trailing}}} {{else}} <i class="bi bi-chat-left-text input__icon--trailing"></i> {{/if}}
    {{/if}}
{{/if}}

{{#if helper}}
    {{> comp-helper}}
{{/if}}

{{#if error}}
    {{> comp-error}}
{{/if}}

{{#if input-filled}}
 </div>
{{/if}}