
{{#if icon-side-leading }}
<div class="{{#if wrapper-class}}{{wrapper-class}}{{else}}icon-side--wrapper{{/if}}">
{{/if}}


{{#if input-filled}}
<div class="input__filled--wrapper"> 

{{else}}
    <!-- Label Default -->
    {{#if label}}
        {{> comp-input-label}}
    {{/if}}

    {{#if icon-side-leading }}
        {{> comp-input-icons}}
    {{/if}}

{{/if}}

{{#if input-filled}}
    {{> comp-input-icons}}
{{/if }}

{{#if input-icon}}
    {{> comp-input-icons}}
{{/if}}

<input type="{{> comp-input-type}}" 
{{#if id}}
    {{#if data}} 
        {{#ifLists id inputs}} 

        {{/ifLists}} 
    {{else}}
        id="{{> comp-input-id}}"
        name="{{> comp-input-name }}"
        class="{{> comp-input-class }}"
        {{> comp-input-attrs}}
        {{#if value}}
        value="{{value}}"
        {{/if}}
        arial-invalid="false"
        
    {{/if}}
{{/if}}


{{> comp-input-placeholder}}
  
{{> comp-pattern }}

{{#if autocomplete}}
autocomplete="{{autocomplete}}"
{{/if}}

{{#if autofocus}}
autofocus
{{/if}}

{{#if title}}
title="{{title}}" 
{{/if}}

{{#if required}}
aria-required="true" 
required 
{{/if}}

{{#if readonly}} 
readonly
{{/if}}

{{> comp-input-vue}}

{{> comp-input-min-max}}

aria-describedby="{{> comp-input-aria-describedby}}"

{{#if label}}
{{else}}
    aria-labelledby="{{id}}"
{{/if}}

{{#if disabled}} 
disabled 
{{/if}}/> <!-- end input -->

{{#if label}} 
{{else}}
    {{#if helper-text-counter}} 
    {{else}}
        {{#if helper}}
        {{else}}
            {{#if required}} 
                {{> comp-helper}} 
            {{/if}} 
        {{/if}}
    {{/if}}
{{/if}}

{{#if input-icon}}
    {{> comp-input-icons}}
{{/if}}

{{#if input-filled}}
 <!-- Label filled -->
    {{#if label}}
        {{> comp-input-label}}
    {{/if}}
{{/if}}

{{#if input-filled}}
    {{> comp-input-icons}}
{{/if}}
{{#if on-helper-first}}
    {{#if helper}}
        {{> comp-helper}}
    {{/if}}


    {{#if error}}
        {{> comp-error}}
    {{/if}}

{{/if}}

{{#if input-filled}}
 </div>
{{/if}}

{{#if icon-side-leading }}
</div>
{{/if}}

{{#if helper-text-counter}}
    <div class="span__group">
        {{> comp-helper}}
    </div>
{{/if}}