{{#if label}}
<label for="{{id}}" {{#if class-label}}class="{{class-label}}" {{/if}}>{{#if label-title}}{{label-title}}{{else}}{{id}}
    {{/if}}</label>
{{/if}}

<input type="password" 
{{#if id}} 
{{#ifEquals id inputs}} 

{{/ifEquals}} 
{{/if}}

{{#if pattern-required}}
pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{16,}"
title="Password must be at least 16 characters long, with at least one uppercase letter, one lowercase letter, one number, and one special character"
{{/if}}

{{#if pattern}}
pattern="{{pattern}}" 
{{/if}}

{{#if title}}
title="{{title}}" 
{{/if}}

{{#if required}} 
required 
{{/if}}

{{#if readonly}} 
readonly
{{/if}}

{{#if disabled}} 
disabled 
{{/if}}/>
{{#if error}}
<div class="input--error">
    error sample
</div>
{{/if}}