{{#if label}}
<label for="{{id}}" {{#if class-label}}class="{{class-label}}" {{/if}}>{{#if label-title}}{{label-title}}{{else}}{{id}}
    {{/if}}</label>
{{/if}}

<input type="tel" 
{{#if id}} 
{{#ifLists id inputs}} 

{{/ifLists}} 
{{/if}}

{{#if pattern-required}}
pattern="\+?[0-9\s\-]{7,15}" 
title="Please enter a valid phone number"
{{/if}}

{{#if pattern}}
pattern="{{pattern}}" 
{{/if}}

{{#if title}}
title="{{title}}" 
{{/if}}

{{#if required}} 
required 
{{/if}}

{{#if readonly}} 
readonly
{{/if}}

{{#if disabled}} 
disabled 
{{/if}}/>
{{#if error}}
<div class="input--error">
    error sample
</div>
{{/if}}