{{#if label}}
<label for="{{id}}" {{#if class-label}}class="{{class-label}}" {{/if}}>{{#if label-title}}{{label-title}}{{else}}{{id}}
    {{/if}}</label>
{{/if}}

<input type="text" 
{{#if id}} 
{{#ifEquals id inputs}} 

{{/ifEquals}} 
{{/if}}

{{#if pattern-required}}
pattern="[A-Za-z]{3,10}" 
title="Must be between 3 and 10 alphabetic characters"
{{/if}}

{{#if pattern}}
pattern="{{pattern}}" 
{{/if}}

{{#if title}}
title="{{title}}" 
{{/if}}

{{#if required}}
aria-required="true" 
required 
{{/if}}

{{#if readonly}} 
readonly
{{/if}}

{{#if disabled}} 
disabled 
{{/if}}/>
{{#if error}}
<div class="input--error">
    error sample
</div>
{{/if}}