/**
 *  
 * Labels Implementation
 * 
*/
@use "sass:map";
.label {

    & {
        @include label-style;
    }

    &__filled--style {

        @include input-label-filled($theme-input-filled);

    }

    &--checkbox {
        @include label-checkbox-style;

        .check--none{
            appearance: none;

            &:checked {
                background-color: map.get($theme-input-checkbox, "check-bg");
                border-color: map.get($theme-input-checkbox, "check-bc");
            }
        }
       
    }


    // Inline labels for checkboxes and radio buttons
    &--inline {
        display: inline-block;
        margin-right: 10px;
    }

    &--block {
        display: block;
        margin-bottom: 2px;
    }

    &--required {

        &::after {
            content: '*';
            color: var(--label-required-color);
        }
    }
}