/**
  
  Labels Mixins

*/

@mixin label-style($color: var(--label-color)) {

   color: $color;
   font-size: var(--label-font-size);
   font-weight: var(--label-font-weight);

}

@mixin label-checkbox-style($margin-left: $checkbox-spacing) {
  
  display: flex;
  align-items: center;
  margin: $input-padding;
  cursor: pointer;

  span {
    margin-left: $margin-left;
  }
 
}