
<template  id="dynamic-message-helper-template">

<div class="demo-page input__counter" id="helper-message" ref="inputContainer">

    {{#if input-filled}}
    <div class="input__filled--wrapper">
    {{> dynamic-input-icons}}
    {{else}}
    <div>
    {{/if}} 
         
        {{> dynamic-input 
            input-type="text"
            id="inputId"
            name="inputName"
            placeholder="inputPlaceholder"
            ref="inputElement"
            class="input__style--filled input__style--filled--standard"
            v-model="inputValue"
            minlength="3"
            maxlength="10"
        }}

        {{> dynamic-input-label }}
      
    </div>

    {{> dynamic-input-message }}
</div>
</template>