{{#if helper}}
<span 
    class="{{#if class-helper}}{{else}}input--helper{{/if}}"
    id="{{#if aria-describedby}}{{aria-describedby}}{{else}}{{id}}-help{{/if}}">
    {{#if helper-message}} {{helper-message}} {{else}} No {{id}}-helper-message define {{/if}}
</span>
{{else}}
    {{#if off-auto-helper}}    
    {{else}}
        {{#if label}}
        {{else}}
            {{#if required}} 
            <span 
            class="{{#if class-helper}}{{else}}input--helper{{/if}}"
            id="{{#if aria-describedby}}{{aria-describedby}}{{else}}{{id}}{{/if}}"> 
            Required
            </span>
            {{/if}}
        {{/if}}
    {{/if}}

{{/if}}

