{{#if input-filled}}
    {{#if icon-leading}}
        {{#if icon-mark-leading}} 
            {{{icon-mark-leading}}} 
        {{else}} 
            <i class="bi bi-heart-fill input__icon--leading  
                {{#if disabled}} input__icon--disabled{{/if}}">
            </i> 
        {{/if}}
    {{/if }}

    {{#if icon-trailing}}
        {{#if icon-mark-trailing}} 
            {{{icon-mark-trailing}}} 
        {{else}} 
            <i class="bi bi-yin-yang input__icon--trailing 
                {{#if disabled}} input__icon--disabled{{/if}}">
            </i> 
        {{/if}}
    {{/if}}
{{/if }}