<input 
    {{#if type}}
        type="{{type}}"
    {{/if}}
    
    {{#if id}}
        :id="{{id}}" 
    {{/if}}
    
    {{#if name}}
        :name="{{name}}"
    {{/if}}

    {{#if value}}
        :value="{{value}}"
    {{/if}}

    {{#if v-model}}
        v-model="{{v-model}}"
    {{/if}}

    {{#if ref}}
    ref="{{ref}}"
    {{/if}}
    
    class="{{> dynamic-input-class}}"

    {{#if style}}
        style="{{style}}"
    {{/if}}

    {{#if placeholder}}
        :placeholder="{{placeholder}}"
    {{/if}}
   
    {{#if readonly}}
        readonly
    {{/if}}

  
    {{#if autofocus}}
        autofocus
    {{/if}}

    {{#if autocomplete}}    
        :autocomplete="{{autoComplete}}"
    {{/if}}

    {{#if form}}
        form="inputForm"
    {{/if}}

    {{#if checks}}
        checks="{{checks}}"
    {{/if}}

    :aria-invalid="false"

    {{> dynamic-input-validations}}

/>